/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: semplicitapro, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	background-color: #f8f8fc;
}
.myname {color: #D9D9D9;
font-family: tomarik-display, sans-serif;
font-weight: 400;
font-size: 40px;
font-style: normal;
padding-top: 28px;
}
.mylogline {color: #D9D9D9;
font-family: tomarik-display, sans-serif;
font-weight: 400;
font-size: 20px;
font-style: normal;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #0C0F40;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #D9D9D9;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
